img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
html,
body { height: 100% }
body {
  font-family: 'Lato', sans-serif;
}

a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Header*/
.header-area.sticky {
  box-shadow: 0 1px 1px 0 #1A4A75;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #3773AA;
}
.header-area.sticky .mainmenu i {
  background: #0b3f6f none repeat scroll 0 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 27px 46px 20px 95px;
}
.logo a img {
    width: 136px;
}
.menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.menu ul li {
  display: inline-block;
  padding: 16px;
}
li.visible-small {
  display: none;
}
.menu ul li a {
  border-bottom: 1px solid #3773aa;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 5px;
  text-transform: uppercase;
}
.sub-section-title2 h2{
    font-size: 28px;
    font-weight: normal;
    text-align:center;
    
}
.logo {
  float: left;
  margin-top: 16px;
}
.menu {
    float: left;
    margin-left: 43px;
}
.mainmenu {
    text-align: right;
}

.menu ul li a:hover {
    border-bottom: 1px solid #fff;
}

.icon-video {
          position: absolute;
          top: 120px;
          right: 70px;
          content: '';
          width: 70px;
          height: 70px;
          background: #000;
          
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
         .icon-video span {
            font-size: 20px;
            color: #000000; }  

.icon-video i {
  color: #fff;
}
            
.off-canvas-menu {
  background: #fff none repeat scroll 0 0;
  height: 100%;
  margin-right: -300px;
  padding: 25px;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.2s ease 0s;
  width: 300px;
  z-index: 999;
}
.off-canvas-menu.active {
  margin-right: 0;
  z-index: 999999;
}
.off-canvas-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.off-canvas-menu li a {
  border-bottom: 1px solid #444;
  color: #333;
  display: block;
  font-size: 16px;
  padding: 10px 0;
}
.menu-close {
  color: #333;
  cursor: pointer;
  padding: 16px 25px;
  position: absolute;
  right: 0;
  top: 0;
}
.off-canvas-menu ul {
  padding-top: 0;
}
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: relative;
 right: 0;  left: 0;
 height: 42%;

}
.video-foreground,
.video-background iframe {

  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
.off-canvas-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  opacity:0;
  z-index: -1;
    transition: .2s
}
.off-canvas-overlay.active{
    z-index: 998;
    opacity: .6
}



a.menu-trigger {
  display: inline-block;
}
a.menu-trigger span {
    background: #333 none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin-bottom: 8px;
    width: 30px;
}



.mainmenu i {
    background: #0b3f6f none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 20px 46px 20px 95px;
}

.banner-area {
  /*padding-bottom: 65px;*/
  padding-top: 100px;
}
.banner-area{
  background: url(assets/img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-area {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}

.banner-area h1 {
    color: #fff;
    font-family: lato;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 40px;
}
.banner-area img {
  min-height: 310px !;
}

.designation {
  background: #3773aa none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  left: 0;
  padding: 15px 20px 35px;
  position: absolute;
  top: 0;
}

.slider-content {
  background: #fff none repeat scroll 0 0;
  margin-left: 20px;
  margin-top: 75px;
  padding: 30px;
  width: auto;
}
.slider-wrap .owl-nav div {
    background: #acacac none repeat scroll 0 0;
    bottom: -34px;
    color: #fff;
    font-size: 30px;
    height: 60px;
    line-height: 58px;
    position: absolute;
    right: 0;
    width: 80px;
}
.slider-wrap .owl-nav .owl-next {
    right: 60px;
}
.slider-wrap .owl-nav .owl-next {
    background: #0b3f6f none repeat scroll 0 0;
    left: auto;
    right: -5px;
}
.slider-wrap .owl-nav .owl-prev {
    left: auto;
    right: 75px;
    text-align: right;
}
.slider-wrap .owl-nav .owl-prev i {
    margin-right: 15px;
}
.slider-wrap .owl-nav .owl-next i {
    margin-left: 35px;
}

a.boxed-btn {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  color: #0b3f6f;
  display: inline-block;
  padding: 16px 23px 16px 56px;
  position: absolute;
}
a.boxed-btn i {
    display: inline-block;
    font-size: 32px;
    margin-right: 15px;
}

a.boxed-btn i.fa.fa-angle-down {
    left: 23px;
    position: absolute;
    top: 12px;
}

a.boxed-btn:hover i {
    margin-top: 3px;
}
a.boxed-btn i {
    transition: all 0.3s ease 0s;
}

.section-padding {
    padding: 65px 0;
}
.section-title h2 {
  border-bottom: 2px solid #144f79;
  color: #144f79;
  display: inline-block;
  font-family: lato;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 25px;
  position: relative;
  text-transform: uppercase;
}
.section-title h2::before {
    background: #155079 none repeat scroll 0 0;
    content: "";
    height: 12px;
    left: -48px;
    position: absolute;
    top: 7px;
    width: 18px;
}
.section-title p:first-child {
  margin-top: 48px;
}
.section-title > p {
    color: #144f79;
    margin-top: 45px;
}


.organisers-logo {
  margin-top: 35px;
  overflow: hidden;

}
.organisers-logos {
  margin-right: 0;
  padding: 10px;
  padding-right: 0;
}
.organisers-logo-one {
    float: left;
}
.organisers-logo img {
  width: 120px;
}

.organisers-logo-two img {
  width: 280px;
}
.organisers-logo-three {
  float: left;
  margin-top: -11px;
  

}
.organisers-logo-three img{
  box-sizing: unset;
  padding-right: 12px; 
}
#oragniser {
  margin-top: 40px;
}
.organisers-logo-four {
 margin-left: 0;
}
.organisers-logos li:first-child img {
  width: 510px;
}

.organisers-logos li:nth-child(2) img {
  margin-right: 18px;
  padding-right: 14px;
  box-sizing: unset;
  width: 109px;
}
.organisers-logos li:nth-child(2) img:last-child {
  width: 136px;
}
.organisers-logos li:nth-child(2) img:first-child {
  border-right: 1px solid #000;
}


.organisers-logos ul {
  padding: 0;
  margin: 0;
}
.organisers-logos {
  margin-top: 35px;
}


.organisers-logos ul:after {
  content: "";
  clear: both;
  display: block;
}



.organisers-logos li:first-child {
  text-align: right;
  margin-top: -7px;
}
.organisers-logos li:last-child {
  margin-left: 6%;
  margin-top: 63px;
}
img.corporate {
  width: 80%;
  margin-top: 20px;
}
img.organiser {
  width: 40%;
  margin-top: 38px;
}






.organisers-logo.bottom-log > div {
  width: 50%;
  float: left;
}
.organisers-logo.bottom-log:after {
  display: ;
  display: block;
  content: "";
  clear: both;
}
.code-cause{
  background: url(assets/img/code-bg.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.causes p {
  border-bottom: 2px solid #3773aa;
  color: #fff;
  font-size: 19px;
  font-weight: 900;
  padding-bottom: 15px;
}
.cause-content p {
  line-height: 20px;
}
.cause-middle-content {
  left: 0;
  position: absolute;
  top: -73px;
}

p.cause-content-p-last{
  border-bottom: 0;
}

.causes {
  margin-top: 24%;
  margin-left: 20px;
}

.section-part-title h2 {
    background: #3773aa none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    padding: 23px 68px 23px 80px;
    text-transform: uppercase;
}
.code-cause.section-padding {
  padding: 45px 0;
}
.cause-content {
    background: #1a4a75 none repeat scroll 0 0;
    color: #fff;
    margin-left: 65px;
    margin-top: -15px;
    padding: 30px;
}
.code-for-cause{
  text-decoration: underline;
    /*border-bottom: 2px solid #fff;*/
  }
.code-for-cause:before{
        background: #fff none repeat scroll 0 0;
    content: "";
    height: 18px;
    left: 35px;
    position: absolute;
    top: 27px;
    width: 18px;
    }

    .code-for-challenge:before{
        background: #fff none repeat scroll 0 0;
    content: "";
    height: 18px;
    left: 40%;
    position: absolute;
    top: 5px;
    width: 18px;}

.participate-area.section-padding {
  padding-top: 135px;
}
.participate-area .section-title h2 {
  margin-bottom: 50px;
}
.participate-area{
  background: url(assets/img/participate-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.single-why {
  color: #0b3f6f;
  margin-bottom: 40px;
  padding-bottom: 1px;
  position: relative;
  text-align: center;
}
.single-why p {
    margin-top: 15px;
}
.single-why::before {
    background: #0b3f6f none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 46%;
    position: absolute;
    width: 30px;
}
.single-prize {
    text-align: center;
}
.single-prize {
    margin-top: 25px;
}
.single-prize img {
  margin-bottom: 10px;
}
.single-prize p {
  color: #0b3f6f;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
.single-prize span {
    color: #0b3f6f;
    font-size: 16px;
    font-weight: normal;
}

.single-prize.prize-one {
    margin-top: 1px;
}
.single-prize.prize-one p {
    font-weight: 900;
}
.single-prize p i {
    margin-right: 10px;
}
.single-prize.prize-three {
  margin-top: 34px;
}
.challenge-area {
  background: rgba(0, 0, 0, 0) url("assets/img/challenge-bg.jpg") no-repeat scroll center top / cover ;
}

.challenge-area {
    color: #fff;
}
h2.challenge-title {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 40px;
  text-align: left;
  text-transform: uppercase;
}
.case-bg-1{
  background: url(assets/img/case-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}
.case-bg-2{
  background: url(assets/img/case-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}
.case-bg-3{
  background: url(assets/img/case-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}
.case-bg-4{
  background: url(assets/img/case-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}

.case-area .section-title h2 {
    margin-bottom: 60px;
    text-align: center;
}
.case-area .section-title {
    text-align: center;
}
.single-case {
  color: #fff;
  font-weight: bold;
  overflow: hidden;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
}
.single-case p.single-case-title {
  margin-top: 61%;
  transition: all 0.4s ease 0s;
}

.case-hover-text p {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 10px;
    text-transform: initial;
}
.case-hover-text {
    margin-top: 151px;
    opacity: 0;
    transition: all 0.6s ease 0s;
    visibility: hidden;
}
.single-case:hover .case-hover-text {
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
}
div.single-case:hover p.single-case-title {
    margin-top: 0;
}
.case-hover-text a.case-btn {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: initial;
    margin-top: 0px;
    transition: .3s;
}
.case-hover-text a.case-btn:hover {
  opacity: .8;
}

/*Schedule Area*/
.schedule-area{
  background: url(assets/img/schedule-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.schedule-date-bg{
  background: url(assets/img/schedule-date-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.schedule-area .section-title h2::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 18px;
  left: -48px;
  position: absolute;
  top: 7px;
  width: 18px;
}
.schedule-area .section-title h2 {
  border-bottom: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: lato;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 48px;
  position: relative;
  text-transform: uppercase;
}

.schedule-area .section-title {
    margin-bottom: 40px;
    text-align: center;
}
.schedule-area {
    color: #fff;
}

.schedule-date-bg {
    color: #0b3f6f;
    height: 64px;
    text-align: center;
    width: 64px;
}

.schedule-date-bg {
    position: relative;
}
.schedule-date-bg span {
    left: 0;
    position: absolute;
    top: 31%;
    width: 100%;
}
.schedule-date-bg p {
    text-align: center;
}
.schedule-left {
  text-align: center;
  margin-bottom: 20px;
}
.schedule-left > p {
  font-size: 15px;
  margin-bottom: 5px;
}


p.schedule-right {
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 13px;
}

.mentors-area .section-title {
    margin-bottom: 62px;
    text-align: center;
}
.single-mentor img {
    height: 255px;
    margin-bottom: 20px;
    position: relative;
}
.single-mentor::before {
  background: #0b446f none repeat scroll 0 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}
.single-mentor {
    position: relative;
}
.single-mentor span {
    color: #0b3f6f;
    font-weight: bold;
}
.single-mentor p {
    color: #0b3f6f;
    line-height: 26px;
    margin-top: 10px;
    position: relative;
}
.single-mentor {
    margin-bottom: 55px;
}

.single-mentor i {
    background: #0084b1 none repeat scroll 0 0;
    color: #fff;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 6px;
    width: 18px;
}

.partner-area .section-title {
    margin-bottom: 40px;
    text-align: center;
}
.single-partner {
  background: #fff none repeat scroll 0 0;
  color: #fff;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.organisers-logo-three img {
  height: 118px;
}
.single-partner a {
  display: block;
}
.single-partner.glossaread {
  max-width: 266px;
}
.single-partner.glossaread img {
  height: 75px;
  max-width: 250px;
  width: 100%;
  margin-top: 22px;
}
.partner-area{
  background: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.statements strong {
  display: inline-block;
  text-decoration: underline;
}
.single-partner {
  max-width: 160px;
}
.footer-area{
  background: url(assets/img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-area {
    color: #fff;
}
.footer-area h6 span {
    color: #e89826;
}
.footer-area h6 {
    font-size: 24px;
}
p.copyright {
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}
.footer-area.section-padding {
    padding-bottom: 20px;
    position:relative;
   
}
.footer-area span.mail {
    text-decoration: underline;
}
.footer-area span.mail a {
    color: #fff;
}
.footer-area .footer-social i {
    background: #50abf1 none repeat scroll 0 0;
    bottom: 0;
    font-size: 24px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    width: 32px;
}
.footer-scroll a {
  color: #fff;
  display: block;
  font-size: 28px;
  text-align: center;
  width: 32px;
}
.footer-area .footer-social a {
  color: #fff;
}


.copyright > a {
  color: #fff;
}



.schedule-area.section-grey .cd-horizontal-timeline li p {
  color: #fff;
  font-size: 16px;
  text-align: left;
}
.schedule-area .cd-horizontal-timeline.loaded .timeline .events-wrapper .events ol li a.selected.modified {
  left: 120px !important;
}
.schedule-area .cd-horizontal-timeline.loaded .timeline .events-wrapper .events ol li a.modified-2 {
  left: 315px !important;
}
.schedule-area .cd-horizontal-timeline.loaded .timeline .events-wrapper .events ol li a {
  font-size: 15px !important;
  color: #fff;
}
.cd-horizontal-timeline .events-content p {
  font-size: 16px;
  color: #fff;
}
.cd-horizontal-timeline .events {
  background: #0a5092 none repeat scroll 0 0;
  height: 2px;
  left: 0;
  position: absolute;
  top: 49px;
  transition: transform 0.4s ease 0s;
  z-index: 1;
}
.cd-horizontal-timeline .filling-line {
  background-color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transform-origin: left center 0;
  transition: transform 0.3s ease 0s;
  width: 100%;
  z-index: 1;
}

@media (min-width: 1200px){

.container2 {
    max-width: 100%;
}
.Content-fix{
  padding-left: 150px;
}
}

@media (max-width: 800px){


.banner-area { 
    padding-top: 103px !important;
}
.banner-area h1{
  font-size: 40px !important;
}
.slider-wrap .owl-nav div {
    background: #acacac none repeat scroll 0 0;
    bottom: -19px;
    color: #fff;
    font-size: 26px;
    height: 48px;
    line-height: 52px;
    position: absolute;
    right: 0;
    width: 80px;}
    .boxed-btn{
      margin-top: 20px !important;
    }
}





.winners-button{
      float: right;
    /* background: #fff none repeat scroll 0 0; */
    /* bottom: 0; */
    background-color: #0b3f6f;
    /* display: inline-block; */
    padding: 10px;
    color: #fff;
    font-size: 12px;

}

.winners-button:hover{
  
  color: #fff;

}