/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
  .txt-right {
    text-align: center;
  }  
 .single-partner.glossaread img {
   margin-top: 16px;
 }
  #oragniser {
    margin-top: 0;
  }

  .organisers-logos li:last-child {
    margin-left: -6%;
    margin-top: 50px;
  }
  .organisers-logos li:first-child img {
    width: 487px;
    margin-left: -17px;
  }
  .organisers-logos li:nth-child(2) img {
     width: 106px;
  
  }
  .organisers-logos li:last-child {
    margin-left: 0%;
    margin-top: 100px;
  }
  .organisers-logos li:nth-child(2) img:last-child {
    width: 125px;
  }

 
}

@media only screen and (min-width: 1199px) { 
.txt-right {
  text-align: center;
}  

#oragniser {
  margin-top: 0;
}




    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

.menu ul li {
  display: inline-block;
  padding: 16px 8px;
}
.menu ul li a {
  font-size: 14px;
} 
.cause-content {
  margin-left: 42px;
    
}
.causes p {
  font-size: 15px;
}
.participate-area.section-padding {
  padding-top: 425px;
}
p.schedule-right {
  margin-left: 20px;
}
.single-mentor img {
  height: auto;
}
.single-case p {
  margin-top: 9%;
}
.case-bg-1, .case-bg-2, .case-bg-3, .case-bg-4 {
  height: 365px;
}

.banner-area img {
  min-height: 280px !;
}

#oragniser {
  margin-top: 0;
}
.single-partner.glossaread img {
    margin-top: 20px;
}
.organisers-logos li:first-child {
   text-align: left;
}
.organisers-logos li:last-child {
  margin-left: 2%;
  margin-top: 70px;
}
.organisers-logos li:nth-child(2) img {
  
  width: 105px;
}
.organisers-logos li:nth-child(2) img:last-child {
  width: 125px;
}




}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.single-why::before {
  left: 40%;
}
.single-prize.prize-one {
  margin-top: 25px;
}
li.visible-small {
  display: inherit;
}
.slider-wrap {
  margin-left: 0px;
}
.slider-wrap .owl-nav .owl-prev {
  left: auto;
  right: 85px;
  text-align: right;
} 
.slider-wrap .owl-nav .owl-next {
  background: #0b3f6f none repeat scroll 0 0;
  left: auto;
  right: 5px;
}
.menu {
  display: none;
}
.header-area.sticky {
  padding-bottom: 7px;
}
.mainmenu {
  position: absolute;
  right: 0;
  top: -57px;
}
.banner-area {
  padding-top: 103px;
}
.code-cause {
  background: #1a4a75 none repeat scroll 0 0;
}
.causes {
  margin-top: 0;
}
.cause-middle-content {
  left: 0;
  position: inherit;
  top: 20px;
}
.cause-content {
  background: #1a4a75 none repeat scroll 0 0;
  color: #fff;
  margin-left: 0;
  margin-top: -15px;
  padding: 30px 30px 30px 0;
}
.single-case {
  color: #fff;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
.case-bg-1, .case-bg-2, .case-bg-3, .case-bg-4 {
  height: 165px;
}
.single-case p.single-case-title {
  margin-top: 10px;
  transition: all 0.4s ease 0s;
}
.single-case p {
  font-size: 12px;
  margin-top: 4%;
}
.txt-center{
	text-align: center;
}
.schedule-date-bg {
  margin-left: 43%;
}
p.schedule-right {
  margin-top: 0;
  margin-bottom: 40px;
}
.single-mentor img {
  height: auto;
}
.single-partner {
  margin-top: 20px;
}
.banner-area h1 {
  font-size: 40px;
}
.single-case {
  margin-top: 15px;
}
p.schedule-right {
  text-align: center;
}
.single-mentor img {
  width: 100%;
}

.single-case {
    margin-top: 15px;
}
.footer-area.section-padding {
    text-align: center;
}
.footer-scroll a {
  margin-left: 31px;
  width: auto;
}
.footer-scroll {
  margin-bottom: 40px;
  text-align: center;
}
.banner-area a.boxed-btn {
  display: none;
}

.banner-area img {
  min-height: 260px !;
}
.single-partner.glossaread img {
 margin-top: 0px;
}
.organisers-logos li:first-child {
   text-align: left;
}
.organisers-logos li:last-child {
  margin-left: 0;
 
}




}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.menu {
  display: none;
}
.single-partner {
  margin-top: 0px;
}
.footer-scroll a {
  margin-left: 92%;
}
.banner-area img {
  min-height: 260px !;
}
.section-title > p {
  margin-top: 40px;
}
#oragniser {
  margin-top: 40px;
}
.single-partner.glossaread img {
  margin-top: 0px;
}
.organisers-logos li:nth-child(2) img:last-child {
  width: 150px;
}
.organisers-logos li:nth-child(2) img {
  width: 120px;
}
.organisers-logos li:nth-child(2) img {
  
  width: 105px;
}
.organisers-logos li:nth-child(2) img:last-child {
  width: 125px;
}

.organisers-logos li:nth-child(2) img {
  
  padding-right: 26px;
 
}

  .organisers-logos li:nth-child(2) img {
    width: 21%;
    height: 26%;
  }
    .organisers-logos li:nth-child(2) img:last-child {
  width: 26%;
}


}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 480px) { 
  

  .organisers-logos li:nth-child(2) img {
    width: 21%;
    height: 26%;
  }
    .organisers-logos li:nth-child(2) img:last-child {
  width: 26%;
}
.organisers-logos li:nth-child(2) img {
  padding-right: 5%;
}
  
 

  .organisers-logos li:last-child {
    margin-top: 35px;
  }


}