.mainmenu i {
  background: #0b3f6f none repeat scroll 0 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 27px 46px 20px 95px;
}
.header-area {
  background: #3773aa none repeat scroll 0 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

.talks-area {
  margin-top: 58px;
}
.talks-area .section-title {
    margin-bottom: -5px;
    text-align: center;
}
.sub-section-title h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.single-video iframe {
  width: 100%;
  height: 400px;
}
.single-video {
    margin-bottom: 35px;
}
.header-area {
  padding-bottom: 7px;
}